<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitpjt.fit.model.dao.UserDao">

	<resultMap type="User" id="userMap">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<!-- 유저 전체 목록 가져오기 -->
	<select id = "selectAllUser" resultType="User">
		SELECT *
		FROM user
	</select>
	<!-- 유저 생성 -->
	<insert id = "insertUser" parameterType="User" >
	INSERT INTO user
	VALUE (#{id}, #{pass}, #{name})
	</insert>
	
	<!-- 유저 정보 수정 -->
	<update id="updateUser" parameterType="String">
		UPDATE user
		SET name = #{name}
		WHERE id = #{id}
	</update>
	
	<!-- 유저 삭제 -->
	<delete id="deleteUser" parameterType="String">
		DELETE FROM user
		WHERE id = #{id}	
	</delete>
	
	<!-- 유저 정보 조회 -->
	<select id="selectOneUser" parameterType="String" resultType="User">
		SELECT *
		FROM user
		WHERE id = #{id}
	</select>
	
	<!-- 유저가 종아요한 영상 조회 -->
	<select id="selectLikedVideo" parameterType="String" resultType="Video">
		SELECT *
		FROM video v
		INNER JOIN likedVideo l
		ON v.youtubeId = l.youtubeId 
		WHERE l.userId = #{userId};
	</select>
	
	<!-- 유저가 종아요한 영상 추가 -->
	<insert id="insertLikedVideo" parameterType="String">
		INSERT INTO likedVideo
		VALUES (#{userId}, #{youtubeId})
	</insert>
	
	<!-- 유저가 종아요한 영상 삭제 -->
	<delete id="deleteLikedVideo" parameterType="String">
		DELETE FROM likedVideo
		WHERE userId = #{userId} AND youtubeId = #{youtubeId}
	</delete>
	
	<!-- 유저 팔로우 기능 -->
	<insert id="insertFollow" parameterType="String">
		INSERT INTO follow
		VALUES (#{followerId}, #{followingId})
	</insert>

	<!-- 유저 팔로우 삭제  -->
	<delete id="deleteFollow" parameterType="String">
		DELETE FROM follow
		WHERE followerId = #{followerId} AND followingId = #{followingId}
	</delete>
	
	<!-- 팔로우하고 있는 유저 조회  -->
	<select id="selectFollowingUser" parameterType="String" resultMap="userMap">
		SELECT id, name
		FROM user
		WHERE id IN (SELECT followingId
						FROM follow
						WHERE followerId = #{followerId} )
	</select>
</mapper>