<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitpjt.fit.model.dao.VideoDao">
	<resultMap type="Video" id="videoMap">
		<result column="youtubeId" property="youtubeId" />
		<result column="channelName" property="channelName" />
		<result column="fitPartName" property="fitPartName" />
		<result column="title" property="title" />
		<result column="date" property="date" />
		<result column="viewCnt" property="viewCnt" />
	</resultMap>


	<select id="selectAll" resultType="Video">
		SELECT * FROM video
	</select>

	<select id='selectPartFitVideo' resultType="Video"
		parameterType="String">
		SELECT * FROM video
		WHERE fitPartName = #{fitPartName};
	</select>

	<select id="selectInterestViewFitVideo" resultType="Video"
		parameterType="String">
		SELECT * FROM video
		ORDER BY viewCnt;
	</select>

	<select id="selectVideo" resultType="Video"
		parameterType="String">
		SELECT * FROM video
		WHERE youtubeId = #{youtubeId};
	</select>

	<update id="updateVideo" parameterType="Video">
		UPDATE video SET
		channelName = #{channelName}, title =#{title}, date = now()
		WHERE
		youtubeId = #{youtubeId};
	</update>

	<delete id="deleteVideo" parameterType="String">
		DELETE FROM video
		WHERE
		youtubeId = #{youtubeId}
	</delete>

	<update id="updateViewCnt" parameterType="String">
		UPDATE video SET
		viewCnt = viewCnt +1 WHERE youtubeId = #{youtubeId};
	</update>

	<select id="showAllreview" resultType="Review"
		parameterType="String"> SELECT * FROM review
		WHERE youtubeId = #{youtubeId};
	</select>

	<insert id="insertReview" parameterType="Review">
		INSERT INTO review
		(youtubeId, writer, content, regDate) VALUES
		(#{youtubeId},
		#{writer},
		#{content}, now())
	</insert>
	<select id="selectOneReview" resultType="Review"
		parameterType="int"> SELECT * FROM review WHERE reviewNo = #{reviewNo}
	</select>
	<update id="updateReview" parameterType="Review"> UPDATE review SET
		content
		= #{content} WHERE youtubeId = #{youtubeId}
	</update>

	<delete id="deleteReview" parameterType="int"> DELETE FROM review
		WHERE reviewNo = #{reviewNo};
	</delete>
	
	<select id="selectRandomVideo" resultType="Video"> SELECT * FROM video
		GROUP BY fitPartName ORDER BY RAND()
		LIMIT 1;
	</select>
	
	


</mapper>